# Google Cloud Console OAuth Web Client ID (Create your own at https://console.cloud.google.com/)
VITE_GOOGLE_CLIENT_ID="your_google_client_id_here"

# The local URL where your backend API server is running
VITE_API_URL="http://localhost:5000/api"
